{% extends "base.html.twig" %}


{% block title %}
	{{data.bien.titre }}
{% endblock %}
{% block javascripts %}
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyDQ4qCuzyHxMKh71i_a1w73OlxTwT6viI8" type="text/javascript"></script>
	<script async type="text/javascript">
		// On initialise la latitude et la longitude de Moroni (centre de la carte)
var lat = -11.7172157;
var lon = 43.2473146;
var map = null;
// Fonction d'initialisation de la carte
function initMap() { // Créer l'objet "map" et l'insèrer dans l'élément HTML qui a l'ID "map"
map = new google.maps.Map(document.getElementById("map"), {
// Nous plaçons le centre de la carte avec les coordonnées ci-dessus
center: new google.maps.LatLng(lat, lon),
// Nous définissons le zoom par défaut
zoom: 11,
// Nous définissons le type de carte (ici carte routière)
mapTypeId: google.maps.MapTypeId.ROADMAP,
// Nous activons les options de contrôle de la carte (plan, satellite...)
mapTypeControl: true,
// Nous désactivons la roulette de souris
scrollwheel: false,
mapTypeControlOptions: { // Cette option sert à définir comment les options se placent
style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
},
// Activation des options de navigation dans la carte (zoom...)
navigationControl: true,
navigationControlOptions: { // Comment ces options doivent-elles s'afficher
style: google.maps.NavigationControlStyle.ZOOM_PAN
}
});
// Nous ajoutons un marqueur
var marker = new google.maps.Marker({ // Nous définissons sa position (syntaxe json)
position: {
lat: lat,
lng: lon
},
// Nous définissons à quelle carte il est ajouté
map: map
});
}
window.onload = function () { // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
initMap();
};
	</script>
{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		#map {
			/* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
			height: 400px;
		}
	</style>
{% endblock %}
{% block body %}
	<!-- Page Heading Section Start -->
	<div class="pagehding-sec">
		<div class="images-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="page-heading">
						<h1>Détail d'une annonce</h1>
						<ul>
							<li><a href="index.html">Accueil</a></li>
							<li><a href="#">Annonce numero .....</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Heading Section End -->
	<!-- Property Details Section Start -->
	<div class="property-sec pt-50 pb-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8">
					<div class="room-details">
						<div class="property-thumb">
							{% for image in data.bien.images %}
								<div class="property-single-thumb">
									<img src="{{ image.lien }}" alt="{{ image.titre}}"/>
								</div>
							{% endfor %}
						</div>
						<div class="room-meta">
							<ul>
								<li>
									<i class="fa fa-user"></i>
									{{data.bien.proprio.getFullname}}</li>
								<li>
									<i class="fa fa-calendar"></i>publié depuis:
									{{data.bien.dateCreation|localizeddate('none', 'none', null, null, 'MMMM Y')|capitalize}}</li>
								<li>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										Ajouter en favoris
									</a>
								</li>
								<li class="price">Prix:
									{{data.bien.prix}}
									€/nuit</li>
							</ul>
						</div>
						<div class="room-info">
							<h2>
								<a href="#">{{data.bien.titre}}</a>
							</h2>
							<div class="address">
								<i class="fa fa-map-marker"></i>
								{{ data.bien.adresse }},
								{{ data.bien.codePostal }}
								{{ data.bien.ville }}
								/
								{{ data.bien.commune.libelle}}</div>
							<p>
								<span>Chambre:
									{{ data.bien.nbreChambre }}</span>
								<span>Visiteurs:
									{{data.bien.nbreVisiteur}}</span>
								<span>Lit:
									{{data.bien.nbreLit | default(0) }}</span>&nbsp;&nbsp; | &nbsp;
								{% if data.bien.internet == 1 %}
									<i class="fa fa-wifi">
										wifi</i>
									&nbsp;
								{% endif %}
								<i class="fa fa-bolt" aria-hidden="true">
									{{data.bien.electricite }}</i>&nbsp;
								<i class="fa fa-glass" aria-hidden="true">

									{{ data.bien.eau }}
								</i>&nbsp;
								<i class="fa fa-cutlery" aria-hidden="true">
									{{data.bien.cuisine}}</i>
							</p>
							{{ data.bien.description|raw }}
							<a href="{{path('reserver',{'slug':data.bien.slug})}}" class="booking-button">Reservez maintenant</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
				<div class="sidebar">
					<div class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="item sngl-testimonial">
										<div class="sngle-tsmt detail">
											<div class="col-md-4">
												<img src="{{ data.bien.proprio.photo}}" alt=""/>
											</div>
											<div class="col-md-8">
												<div class="client-dsc">
													<h1>{{ data.bien.proprio.getFullname }}</h1>
													<h6>Membre depuis:
														{{data.bien.proprio.dateInscription | localizeddate('none', 'none', null, null, 'MMMM Y') |capitalize }}</h6>
													<span class="label label-success">{{ data.bien.proprio.biens |length }}
														annonces</span>
												</div>
											</div>
											<div class="col-md-12">
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus impedit ad veniam possimus illum autem iusto reiciendis, amet labore cupiditate iste ab quo provident tempore inventore commodi ratione! Necessitatibus, totam.</p>
											</div>
										</div>

									</div>
									<div class="single-hote-overly">
										<a href="">en savoir plus</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="widget-two">
						<h2>Ses autres annonces</h2>
						<div class="border-shape"></div>
						<div class="all_r_pst">
							{% set bienusers = data.bien.proprio.biens %}
							{% for key, bienuser in bienusers %}
								{% if key < 4 %}
									<div class="row">
										<div class="media">
											<div class="relative-post">
												<div class="col-md-4">
													<div class="relative-post-thumb">
														{% for k,image in bienuser.images %}
															{% if k < 1 %}
																<img src="{{ image.lien }}" alt="{{image.titre}}"/>
															{% endif %}
														{% endfor %}
													</div>
												</div>
												<div class="col-md-8">
													<div class="media-body">
														<div class="single_r_dec">
															<h3>
																<a href="#">{{ bienuser.titre }}
																</a>
															</h3>
															<p>Publié le:
																{{ bienuser.dateCreation | date('d/m/Y')}}</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Google Map Section Start -->
		<div class="row mt-15">
			<div class="col-md-6">
				<h3>Les avis de nos voyageurs</h3>
				<div class="alert alert-info">
					<h4 class="alert-heading">
						<div class="row align-items-center">
							<div class="col">Note globale données par nos visiteurs
							</div>
							{% set comments = [] %}
							{% set sum = 0 %}
							{% set avg = 0 %}
							{% set total = 0  %}
							{% for reserver in data.bien.reservers %}
								{% set comments = reserver.commentaires %}
							{% endfor %}

							<div class="col">
								{% include "partials/vote.html.twig" with {'rating': data.moyenne} %}
								<br><small>( Calculée sur
									{{ comments| length }}
									)</small>
							</div>
						</div>
					</h4>
				</div>
				{% if data.moyenne > 0 %}
					{% for comment in comments %}
						<div class="bg-light rounded mb-3 px-3 py-3 ">
							<strong>{{ comment.user.getFullname }}
							</strong>a dit:
							<blockquote>{{comment.contenue}}<br>
								<strong>Note donnée:</strong>
								{% include "partials/vote.html.twig" with {'rating': data.moyenne } %}
							</blockquote>
						</div>
					{% endfor %}
				{% else %}
					<div class="bg-light rounded mb-3 px-3 py-3 ">
						<blockquote>pas encore de commentaire</blockquote>
					</div>
				{% endif %}
			</div>
			<div class="col-md-6">
				<div class="map-heading">
					<h2>Localisation du bien</h2>
				</div>
				<div class="map-sec">
					<div
						id="map"><!-- Ici s'affichera la carte -->
					</div>
				</div>
			</div>
		</div>
		<!-- Google Map Section End -->
	</div>
</div>
<!-- Property Details Section End -->{% endblock %}
